.home{
    width: 100%;
    height: 100%;
    background-color:rgb(121, 87, 84);
}

.home .wlc{
    width: 100%;
    height: 100%;
    display: flex;
    background-color:rgb(77, 59, 58);
    text-align: center;
    justify-items: center;
    align-items: center;
}



