.nav-link{
    height: fit-content;
    width:fit-content;
    flex:0.199;
    justify-content:center;
    justify-items:center;
    color: white;
    background-color:#1e3138;
    text-decoration:none;
    text-align:center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
    transition: all 0.5s ease
}



.nav-link:hover {
    color: rgb(0, 0, 0);
    background-color:#ffffff;
    transform: scale(1.003);
}