.App {
    /* text-align: center; */
    height: fit-content;
    min-height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 2%;
    background-image: url(./Database/images/back8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(38, 40, 42);
    
  }